.awsm1 {
  margin-bottom: -18px;
}
.awsm2 {
  border: 2px solid red;
  margin: -4px;
  padding: 6px;
}
.awsm3 {
  height: 300px;
  vertical-align: auto;
}
.img1 {
  border-radius: 12px;
  height: 250px;
  width: 180px;
  margin-top: 12px;
}
